<!-- gallery-->
<div class="intro app-pages app-section">
    <div class="container">
        <div class="pages-title">
            <h3>Football Distribution</h3>
        </div>
        <div class="text">

<h5>Football Distribution</h5>
		All the profit we make form organizing this tournament goes back to develoment of the sports.
        After season 1, we at players cup distributed footballs to various schools in Bengaluru to promote the sport.
        </div>
        <div class="erb-image-wrapper standard-padding">
        	<a href="https://imgur.com/hwdv5RL"><img src="https://i.imgur.com/hwdv5RL.jpg" title="source: imgur.com" /></a>
        </div>
        <div class="erb-image-wrapper standard-padding">
        	<a href="https://imgur.com/l3xLBhE"><img src="https://i.imgur.com/l3xLBhE.jpg" title="source: imgur.com" /></a>
        </div>
        <div class="erb-image-wrapper standard-padding">
        	<a href="https://imgur.com/Z91WH4y"><img src="https://i.imgur.com/Z91WH4y.jpg" title="source: imgur.com" /></a>
        </div>
    </div>
</div>
<!-- end gallery -->