<!-- gallery-->
<div class="intro app-pages app-section">
    <div class="container">
        <div class="pages-title">
            <h3>Football Distribution</h3>
        </div>
        <div class="text">

<h5>Football Distribution</h5>
		The tournament culminated in June, 2017 and the returns of the tournament (around 6k) were utilized to fund football supplies for Government Schools in and around the Bellandur area as well as two schools at Vidurashwatha in rural Karnataka. The proceeds were spread over 5 Urban Government schools and 3 rural schools in an effort to inculcate footballing culture amongstunderprivileged children at grass root level.
        </div>
        <div class="erb-image-wrapper standard-padding">
        	<a href="https://imgur.com/hwdv5RL"><img src="https://i.imgur.com/hwdv5RL.jpg" title="source: imgur.com" /></a>
        </div>
<br/>
<h5>Highlights:</h5>
<br/>
		Kicked off with 8 teams in full ground format with eight-a- side on artificial turf

		Received sponsorship from JDA software

		High octane 50 minutes match format

		Officiated by Karnataka Football Association referees
        <div class="erb-image-wrapper standard-padding">
        	<a href="https://imgur.com/l3xLBhE"><img src="https://i.imgur.com/l3xLBhE.jpg" title="source: imgur.com" /></a>
        </div>

         <br/>
        <h5>The Idea:</h5>
		<br/>
				The tournament culminated in June, 2017 and the returns of the tournament (around 6k) were utilized to fund football supplies for Government Schools in and around the Bellandur area as well as two schools at Vidurashwatha in rural Karnataka. The proceeds were spread over 5 Urban Government schools and 3 rural schools in an effort to inculcate footballing culture amongst underprivileged children at grass root level.
        <div class="erb-image-wrapper standard-padding">
        	<a href="https://imgur.com/Z91WH4y"><img src="https://i.imgur.com/Z91WH4y.jpg" title="source: imgur.com" /></a>
        </div>

        <br/>
        <h5>The Road Ahead:</h5>
        <br/>
        Passion soccer aims to create an active community and foundation to raise funds as well as inspire more children in and around Karnataka to fulfil their footballing aspirations.

We plan on achieving these objectives by actively involving NGOs and football organisations in our mission. We also hope to host a vast number of tournaments in the future to help raise awareness and improve standards in our own stellar manner.

Immediate goal(Season 2) would be saving enough amount to hire coach and book ground to
train kids from nearby government schools.
		<br/>
		<div class="erb-image-wrapper standard-padding">
        	<a href="https://imgur.com/On9VsSb"><img src="https://i.imgur.com/On9VsSb.png" title="source: imgur.com" /></a>
        </div>
    </div>
</div>
<!-- end gallery -->