<!-- intro-->
<div class="intro app-pages app-section">
    <div class="container">
        <div class="pages-title">
            <h3>Players Cup Season 2</h3>
        </div>
        <div class="erb-image-wrapper">
        	<img src="img/Season2Flyer.png" alt="">
        </div>
        <div class="text">

<h5>Where it all began?</h5>
        Players Cup is an annual soccer league introduced by a bunch of likeminded folks, from the corporate background, to create a platform for competitive, high quality football league.

Football as a sport has a long way to go in India and this is one of our humble efforts to create as many amateur corporate leagues as possible for furthering the reach of the sport and also to build a general attitude for corporate employees to be active and play sports.

Players Cup league is a non-profit endeavor of some of the below mentioned folks & the team who take a keen interest in football & sports.

We invite all the corporate employees of Bangalore to come participate and experience the football league in Bellandur/Marthalli area football arenas. The league begins on October 14th weekend and spans over next 7,8 weeks.

<h5>Season 2 is here!</h5>

	After a successful season 1, where 8 teams participated and 36 entertaining matches. We are back again now. This time it's going to be better. Please visit our facebook page fb.com/playerscup.in for highlights and pictures of all the matches of season 1.

	Teams participating in Season 2.

	1. SoS FC
	2. Firelake FC
	3. Konar FC
	4. OldMonk FC
	5. BITS FC
	6. United FC
	7. Lake Road FC

	We have one more slot open as of now. Please get in touch with the organizing team to register your team.

	Passion soccer aims to create an active community and foundation to raise funds as well as inspire more children in and around Karnataka to fulfil their footballing aspirations.

We plan on achieving these objectives by actively involving NGOs and football organisations in our mission. We also hope to host a vast number of tournaments in the future to help raise awareness and improve standards in our own stellar manner.

Immediate goal(Season 2) would be saving enough amount to hire coach and book ground to
train kids from nearby government schools.
		<br/>
		<div class="erb-image-wrapper standard-padding">
        	<a href="https://imgur.com/On9VsSb"><img src="https://i.imgur.com/On9VsSb.png" title="source: imgur.com" /></a>
        </div>

<h5>RULES & REGULATIONS</h5>
1. The Tournament will be in League Format

2. Total Number of Teams in the League is restricted to 8 only.

3. Total Number of games played by each team is 7 all through the league. Each Team plays one game per week.

4. The League follows the point system, point system and game details can be followed on the tournament website every week.

Points System:
Win- 3 Points
Draw – 1 Point
Loss- 0 Points
No Penalty shootout.

5. After all the stipulated games, if two teams are tied, the team with head-to-head record wins the title, if the head to head has been a draw, the goal difference wins the title. If goal difference is tied, higher Goals for will be termed as winners.

6. This is a 8 versus 8- mixed corporate tournament: A team can comprise of players from 5 different companies, any designation. The players need to be associated with any of the corporate firms.

To put this in a different perpesctive,
a. No A-LEAGUE
b. No super division
c. No paid players
d. No certified coaches

If a team field a player that has recently played or is currently playing professionally for any of the divisions, the team will be disqualified immediately. We do a thorough background check on each player enrolled, to make sure they work for a corporate company.
This is enforced to keep the league fair for others.

7. Each Team should submit the roaster of 15 players before the tournament with name of the captain and players along with the photograph of company issued ID card attached to each players.

8. The games follow a 8 players +4 subs format with rest 3 on Bench every game.

9. Before each game every player will be verified for their ID with our pre given ID photo database. Any discrepancies will not be entertained and all players have to be from the previously submitted roaster list.

10. All the games will be held only after 6.30pm on either Friday, After 4.30 pm on Saturday or after 4 pm on Sunday OR according to the availability of the grounds. (As of now these are our most likely timings available)

11. Referees will be available for all the matches. Referee’s decisions are binding and cannot be contested at any situations.
Repeated arguments with the referee over a decision can lead to warning and subsequent yellow card.

12. Carding system: Two Yellow cards in a game will disqualify the player for that entire match. But the player is allowed to play the next game without penalties.
Red Card: Player with red card will be disqualified for that entire game, and the player will not be allowed to play the next game.

13. Subbing: Unlimited subbing, but from the pool of 4 subs only not from the bench players.

14. Referee should be informed before subbing every time. Subbing without informing will be awarded yellow card for the incoming player.

15. Players not on the roaster list will not be allowed on the ground or the match.

16. Entry fees per team – 20000 Rs

17. Prize Money – 60000 Rs+ Medals+ Trophy:: Second Prize- Trophy + Medals (Prize Money is expected to be raised further, will be updated as we go by)

18. All the games will be held in Kicks on Grass, Bellandur/Active Arena, Marthallli Ring Road/Kick on Sweat on, JP Nagar pitches.

19. Each game will be 40 mins of playtime- 20 mins each half with 5 mins break in between. No injury time or extra time is additional.

20. Organizers/Referees are not responsible for injuries or medical conditions arising out of the games, players and captains are advised to wear all necessary safety gears according to the footballing standards.

21. The teams not turning up in full 10 mins prior to the game according to the pre scheduled fixtures will have to relinquish the game and the opponent will be awarded 3 points in full.

22. Top goal scorer will be awarded with a special prize and trophy.

23. All teams are expected to display good sportsmanship spirit and conduct themselves with discipline on and off the field. Using abusive language/Scolding the referees, opponents/Fighting will directly be obliged with a red card. A special fair play prize will be awarded to the best teams on behavior and discipline.

24. Teams can wear their team jerseys or colors if you have one, but there are no obligations towards it. Bibs will be provided.

25. All players should be above 18 and working for a corporate company in Bangalore or anywhere in the world.

26. The team points table, fixtures and timings, goal scorers, fouls etc will be updated on our tourney website (www.playerscup.in)

27. The pre-determined fixtures/timings will be given before the start of the tourney and will not be subjected to any changes in date or time, unless it is systemic issue or a natural calamity.

28. Teams can be named as they wish for, not necessarily under the/any company name.

29. The tournament will be held from last week of October 2017 onwards (exact date will be notified) onto next 7-9 consecutive weekends.

30. Back passes cannot be handled by the goalkeeper, upon which a free kick will be awarded to the opposition.

31. 

Sincerely

<h4>Organizing Team</h4>
Sumanraj Shetty- 9986913771
Roshan – 9036200062
Rohit-8880499954
Deepti-9742483548

        </div>
    </div>
</div>
<!-- end intro -->