<!-- login-->
<div class="login app-pages app-section">
	<div class="container">
		<div class="pages-title">
			<h3>Login</h3>
		</div>
		<p class="red darken-3">{{errorMessage}}</p>
      <div class="row">
	        <div class="input-field col s12">
	          <input id="email" type="email" class="validate" value="admin@playerscup.in">
	          <label for="email">Email</label>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="password" type="password" class="validate" value="admin@123">
	          <label for="password">Password</label>
	        </div>
	      </div>
	      <div class="row">
	      	<a id="loginBtn" class="waves-effect waves-light btn">Login</a>
	      </div>
	</div>
</div>
<!-- end login -->
<script type="text/javascript">
	$(document).ready(function() {
    document.getElementById('loginBtn').addEventListener('click', login, false);

    function login(evt) {
    	$('#loginBtn').prop('disabled', true);
    	 $.ajax({
          method: "POST",
          url: "/login",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
		   "email": $('#email').val(),
		   "password": $('#password').val()
		  })
         })
          .done(function( result ) {
          	$('#loginBtn').prop('disabled', false);
            if (typeof result.redirect == 'string')
                    window.location = result.redirect;
          }).fail(function(result) {
            $('#loginBtn').prop('disabled', false);
          });
    	}
    });
<{{!}}/script>