<!-- login-->
<div class="login app-pages app-section">
	<div class="container">
		<div class="pages-title">
			<h3>Login</h3>
		</div>
		<form action="#">
			<input type="email" placeholder="Email">
			<input type="password" placeholder="password">
			<div class="chebox">
				<input type="checkbox" id="checkbox" />
					<label for="checkbox">Remember me</label>
			</div>
			<button class="button">Login</button>
		</form>
	</div>
</div>
<!-- end login -->