<!-- result -->
<div class="result app-pages app-section">
	<div class="container">
		<div class="pages-title">
			<h3>Result</h3>
		</div>
		<div class="head">
			<ul>
				<li class="prev"><i class="fa fa-angle-left"></i></li>
				<li>Week 20</li>
				<li class="next"><i class="fa fa-angle-right"></i></li>
			</ul>
		</div>
		<div class="entry">
			<ul class="the-ul">
				<li>
					<ul class="score">
						<li><img src="img/club1.png" alt=""></li>
						<li>0</li>
						<li>:</li>
						<li>2</li>
						<li><img src="img/club2.png" alt=""></li>
					</ul>
					<ul class="club-title">
						<li>Lorem FC</li>
						<li>VS</li>
						<li>Dolor FC</li>
					</ul>
					<ul class="stadium">
						<li>Lorem Stadium</li>
					</ul>
					<ul class="date">
						<li>Mon 15 Aug 2016 20:00</li>
					</ul>
				</li>
			</ul>
			<ul class="the-ul">
				<li>
					<ul class="score">
						<li><img src="img/club3.png" alt=""></li>
						<li>1</li>
						<li>:</li>
						<li>2</li>
						<li><img src="img/club4.png" alt=""></li>
					</ul>
					<ul class="club-title">
						<li>Lorem FC</li>
						<li>VS</li>
						<li>Dolor FC</li>
					</ul>
					<ul class="stadium">
						<li>Lorem Stadium</li>
					</ul>
					<ul class="date">
						<li>Mon 15 Aug 2016 20:00</li>
					</ul>
				</li>
			</ul>
			<ul class="the-ul">
				<li>
					<ul class="score">
						<li><img src="img/club1.png" alt=""></li>
						<li>0</li>
						<li>:</li>
						<li>0</li>
						<li><img src="img/club2.png" alt=""></li>
					</ul>
					<ul class="club-title">
						<li>Lorem FC</li>
						<li>VS</li>
						<li>Dolor FC</li>
					</ul>
					<ul class="stadium">
						<li>Lorem Stadium</li>
					</ul>
					<ul class="date">
						<li>Mon 15 Aug 2016 20:00</li>
					</ul>
				</li>
			</ul>
			<ul class="the-ul">
				<li>
					<ul class="score">
						<li><img src="img/club3.png" alt=""></li>
						<li>3</li>
						<li>:</li>
						<li>2</li>
						<li><img src="img/club4.png" alt=""></li>
					</ul>
					<ul class="club-title">
						<li>Lorem FC</li>
						<li>VS</li>
						<li>Dolor FC</li>
					</ul>
					<ul class="stadium">
						<li>Lorem Stadium</li>
					</ul>
					<ul class="date">
						<li>Mon 15 Aug 2016 20:00</li>
					</ul>
				</li>
			</ul>
			<ul class="the-ul">
				<li>
					<ul class="score">
						<li><img src="img/club1.png" alt=""></li>
						<li>0</li>
						<li>:</li>
						<li>2</li>
						<li><img src="img/club2.png" alt=""></li>
					</ul>
					<ul class="club-title">
						<li>Lorem FC</li>
						<li>VS</li>
						<li>Dolor FC</li>
					</ul>
					<ul class="stadium">
						<li>Lorem Stadium</li>
					</ul>
					<ul class="date">
						<li>Mon 15 Aug 2016 20:00</li>
					</ul>
				</li>
			</ul>
			<ul class="the-ul">
				<li>
					<ul class="score">
						<li><img src="img/club3.png" alt=""></li>
						<li>0</li>
						<li>:</li>
						<li>2</li>
						<li><img src="img/club4.png" alt=""></li>
					</ul>
					<ul class="club-title">
						<li>Lorem FC</li>
						<li>VS</li>
						<li>Dolor FC</li>
					</ul>
					<ul class="stadium">
						<li>Lorem Stadium</li>
					</ul>
					<ul class="date">
						<li>Mon 15 Aug 2016 20:00</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- end result -->