<!-- schedule -->
<div class="schedule app-pages app-section">
	<div class="container">
		<div class="pages-title">
			<h3>Schedule</h3>
		</div>
		<div class="entry">
			<ul class="the-ul">
				<li>
					<ul class="club-title">
						<li>Lorem FC</li>
						<li>VS</li>
						<li>Dolor FC</li>
					</ul>
					<ul class="date">
						<li>Mon 15 Aug 2016 20:00</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- end schedule -->