<!--schedule -->
<div class="schedule app-pages app-section">
    <div class="container">
        <div class="pages-title">
            <h3>Schedule</h3>
        </div>
        <div class="entry">
            {{#each this.data}}
            <div class="grey-text text-darken-4">{{moment @key "dddd D MMMM"}}</div>
                    <ul class="collection blue-grey darken-1 white-text">
                    	{{#each this}}
                        	<li class="collection-item blue-grey darken-1">{{team1}}  {{fixtureTime}}  {{team2}}</li>
                       	{{/each}}
                    </ul>
            {{/each}}
        </div>
    </div>
</div>
<!-- end schedule