<!-- standings -->
<div class="standings app-pages app-section">
	<div class="container">
		<div class="pages-title">
			<h3>Standings</h3>
		</div>
		<ul>
			<li class="head">
				<div class="row">
					<div class="col s1">
						<div class="number">No</div>
					</div>
					<div class="col s7">
						<div class="number">Club</div>
					</div>
					<div class="col s2">
						<div class="number">P</div>
					</div><div class="col s2">
						<div class="number">Pts</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">1</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">30</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">2</div>
					</div>
					<div class="col s7">
						<div class="club">Doloreta FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">30</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">3</div>
					</div>
					<div class="col s7">
						<div class="club">Sit Meta FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">29</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">4</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">5</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">6</div>
					</div>
					<div class="col s7">
						<div class="club">Sliders FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">7</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">8</div>
					</div>
					<div class="col s7">
						<div class="club">Meta FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">9</div>
					</div>
					<div class="col s7">
						<div class="club">Nostrum FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">1</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">10</div>
					</div>
					<div class="col s7">
						<div class="club">Adipisicing FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">11</div>
					</div>
					<div class="col s7">
						<div class="club">Scorers FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">21</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">12</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">30</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">1</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">30</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">13</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">30</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">14</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">30</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col s1">
						<div class="number">15</div>
					</div>
					<div class="col s7">
						<div class="club">Lorem FC</div>
					</div>
					<div class="col s2">
						<div class="number">14</div>
					</div><div class="col s2">
						<div class="number">30</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- end standings -->