<!-- Upload -->
<div class="result app-pages app-section">
    <div class="container">
    <div class="pages-title">
            <h3>Upload data</h3>
        </div>
        <div id="dvImportSegments" class="fileupload">
            <fieldset>
                <div class="line">
                    <h5>Upload Teams</h5>
                </div>
                <div class="line">
                    <form id="TeamForm" enctype="multipart/form-data" action="api/teams/import" method="post">
                        <input type="file" name="file" id="teamFileUpload" accept=".csv" />
                        <input class="right" type="button" value="Submit" onclick="teamSubmit()"/>
                    </form>
                </div>
            </fieldset>
            <fieldset>
                <div class="line">
                    <h5>Upload Players</h5>
                </div>
                <div class="line">
                    <form id="PlayersForm" enctype="multipart/form-data" action="api/players/import" method="post">
                        <input type="file" name="file" id="playersFileUpload" accept=".csv" />
                        <input class="right" type="button" value="Submit" onclick="playersSubmit()"/>
                    </form>
                </div>
            </fieldset>
            <fieldset>
                <div class="line">
                    <h5>Upload Fixtures</h5>
                </div>
                <div class="line">
                    <form id="FixturesForm" enctype="multipart/form-data" action="api/fixtures/import" method="post">
                        <input type="file" name="file" id="fixturesFileUpload" accept=".csv" />
                        <input class="right" type="button" value="Submit" onclick="fixtureSubmit()"/>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    function teamSubmit() {
        document.getElementById("TeamForm").submit();
    };
    function playersSubmit() {
        document.getElementById("PlayersForm").submit();
    };
    function fixtureSubmit() {
        document.getElementById("FixturesForm").submit();
    };
<{{!}}/script>