<!-- Upload -->
<div class="result app-pages app-section">
    <div class="container">
        <div id="dvImportSegments" class="fileupload ">
            <fieldset>
                <legend>Upload Teams</legend>
                <form id="TeamForm" enctype="multipart/form-data" action="api/teams/import" method="post">
                    <input type="file" name="file" id="teamFileUpload" accept=".csv" />
                </form>
                <input type="button" value="Submit" onclick="teamSubmit()"/>
            </fieldset>
            <fieldset>
                <legend>Upload Fixtures</legend>
                <form id="FixturesForm" enctype="multipart/form-data" action="api/fixtures/import" method="post">
                    <input type="file" name="file" id="fixturesFileUpload" accept=".csv" />
                </form>
                <input type="button" value="Submit" onclick="fixtureSubmit()"/>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    function teamSubmit() {
        document.getElementById("TeamForm").submit();
    };
    function fixtureSubmit() {
        document.getElementById("FixturesForm").submit();
    };
    $(document).ready(function() {

    // The event listener for the file upload
    document.getElementById('teamFileUpload').addEventListener('change', upload, false);

    // Method that checks that the browser supports the HTML5 File API
    function browserSupportFileUpload() {
        var isCompatible = false;
        if (window.File && window.FileReader && window.FileList && window.Blob) {
        isCompatible = true;
        }
        return isCompatible;
    }

    // Method that reads and processes the selected file
    function upload(evt) {
        if (!browserSupportFileUpload()) {
            alert('The File APIs are not fully supported in this browser!');
            } else {
                var data = null;
                var file = evt.target.files[0];
                var reader = new FileReader();
                reader.readAsText(file);
                reader.onload = function(event) {
                    var csvData = event.target.result;
                    data = $.csv.toArrays(csvData);
                    console.log(data);
                    // $.ajax({
                    //   method: "POST",
                    //   url: "api/teams/import",
                    //   headers: {
                    //   },
                    //   data: csvData
                    // })
                    //   .done(function( result ) {
                    //     console.log(result);
                    //   }).fail(function(result) {
                    //     console.log(result);
                    //   });
                    // data = $.csv.toArrays(csvData);
                    // if (data && data.length > 0) {
                    // alert('Imported -' + data.length + '- rows successfully!');
                    // } else {
                    //     alert('No data to import!');
                    // }
                };
                reader.onerror = function() {
                    alert('Unable to read ' + file.fileName);
                };
            }
        }
    });
<{{!}}/script>